<div class="detalle-page">

  <div class="detalle-card">

    <div class="detalle-header">
      <div>
        <span class="badge estado-{{ solicitud().estado.toLowerCase() }}">
          {{ solicitud().estado }}
        </span>

        <h1>{{ solicitud().nombre }}</h1>
      </div>

      @if (authService.isAdmin()) {

        <div class="acciones">
          <button class="btn btn-primary" (click)="clasificar()">Clasificar</button>
          <button class="btn btn-outline" (click)="priorizar()">Priorizar</button>
          <button class="btn btn-outline" (click)="asignar()">Asignar</button>
          <button class="btn btn-outline" (click)="atender()">Atender</button>
          <button class="btn btn-danger" (click)="cerrar()">Cerrar</button>
        </div>

      }

    </div>

    <div class="detalle-grid">

      <div class="info-box">
        <h3>Descripción</h3>
        <p>{{ solicitud().descripcion }}</p>
      </div>

      <div class="info-box">
        <h3>Información general</h3>

        <div class="info-row">
          <strong>Tipo:</strong>
          <span>{{ solicitud().tipoSolicitud }}</span>
        </div>

        <div class="info-row">
          <strong>Prioridad:</strong>
          <span>{{ solicitud().prioridad }}</span>
        </div>

        <div class="info-row">
          <strong>Responsable:</strong>
          <span>{{ solicitud().responsableId }}</span>
        </div>
      </div>

    </div>

  </div>

  <div class="historial-card">

    <h2>Historial auditable</h2>

    @for (item of historial(); track item.fechaAccion) {
      <div class="timeline-item">
        <div class="timeline-dot"></div>

        <div class="timeline-content">
          <h4>{{ item.accion }}</h4>
          <p>{{ item.observacion }}</p>

          <small>
            {{ item.actorNombre }} — {{ item.fechaAccion | date:'short' }}
          </small>
        </div>
      </div>
    }

  </div>

</div>
